{% extends 'layout.html' %}

{% block title %}{{ title }} by {{ author }} - {% endblock %}

{#
{% block head %}
<script>
	{% if showdialog %}
		i7el.i7versions = {{ js.i7versions|json|safe }};
		$( function()
		{
			i7el.choose_i7versions({
				slug: '{{ slug }}',
				version: '{{ currentVersion }}',
				alert: {{ alert|json|safe }},
				i7versions: [],
			});
		});
	{% endif %}
</script>
{% endblock %}
#}

{% block content %}
<div class="col-md-12">
	<h1>{{ title }} by {{ author }}</h1>
</div>
{% if alert %}
	<div class="col-md-12 alert alert-{{ alert.type|lower }}" role="alert">
		<p><strong>{{ alert.type|title }}:</strong> {{ alert.msg }}
	</div>
{% endif %}
<div class="col-md-4">
	<h2>Versions</h2>
	<p><a class="btn btn-lg btn-primary btn-block" href="/extensions/{{ slug }}/versions/{{ currentVersion }}"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download current version {{ currentVersion }}</a>
	<p><a href="/extensions/{{ slug }}/versions">View all versions</a>
	{% if user && user.can.editthis %}
		<h2>Actions</h2>
		<ul class="list-unstyled">
			<li><a href="/extensions/new">Upload a new version</a></li>
			<li><a href="/extensions/{{ slug }}/edit">Edit</a></li>
		</ul>
	{% endif %}
</div>
<div class="col-md-8">
	<h2>Description</h2>
	<p>{% if description %}{{ description }}{% else %}<i>No description provided</i>{% endif %}</p>
	<h2>Documentation</h2>
	<p>{% if documentation %}{{ documentation }}{% else %}<i>No documentation provided</i>{% endif %}</p>
</div>
{% endblock %}
