{% extends 'layout.html' %}
{% import 'macros.html' as macros %}
{% set current = data.current %}

{% block title %}{{ title }} by {{ author }} - {% endblock %}

{% block content %}
<div class="col-md-12">
	<h1>{{ title }} by {{ author }} <small>
		<a href="/extensions?search={{ author }}" title="Search for other extensions by this author">{{ macros.icon( 'user', 'Search for other extensions by this author' ) }}</a>
		{% if user && user.can.editany -%}
			{%- if approved -%}
				<a class="text-success" href="/extensions/{{ slug }}/edit/?approved=0" title="Approved for the Public Library; click to reject">{{ macros.icon( 'check-circle', 'Approved for the Public Library; click to reject' ) }}</a>
			{%- else -%}
				<a class="text-muted" href="/extensions/{{ slug }}/edit/?approved=1" title="Not approved for the Public Library; click to approve">{{ macros.icon( 'check-circle', 'Not approved for the Public Library; click to approve' ) }}</a>
			{%- endif -%}
		{%- elif approved && !pl -%}
			{{ macros.icon( 'check-circle text-success', 'Approved for the Public Library', 'Approved for the Public Library' ) }}
		{%- endif -%}
	</small></h1>
</div>
{{ macros.alert( alert, 'col-md-12' ) }}
{% if !current.i7releases %}{{ macros.alert( { type: 'Warning', msg: 'No Inform 7 releases have been specified' }, 'col-md-12' ) }}{% endif %}
<div class="col-md-4">
	<h2>Versions</h2>
	{% if pl -%}
		{%- set findVers = data.byRelease[pl] -%}
		{%- if findVers -%}
			<p><a class="btn btn-lg btn-primary btn-block text-wrap btn-download" href="/extensions/{{ slug }}/versions/{{ findVers }}">{{ macros.icon( 'download' ) }} Install version {{ findVers }}</a>
		{%- else -%}
			<p><a class="btn btn-lg btn-danger btn-block text-wrap disabled">No version available for Inform 7 {{ pl }}</a>
		{%- endif -%}
	{%- else %}
		<p><a class="btn btn-lg btn-primary btn-block text-wrap btn-download" href="/extensions/{{ slug }}/versions/{{ current.version }}">{{ macros.icon( 'download' ) }} Download version {{ current.version }}{% if current.i7releases %}<small>For Inform 7 {{ current.i7releases }}</small>{% endif %}</a>
	{% endif %}
	<p><a href="/extensions/{{ slug }}/versions">View all versions</a>
	{% if user && user.can.editthis %}
		<h2>Actions</h2>
		<ul class="list-unstyled">
			<li><a href="/extensions/new">Upload a new version</a></li>
			<li><a href="/extensions/{{ slug }}/edit">Edit</a></li>
		</ul>
	{% endif %}
</div>
<div class="col-md-8">
	<h2>Description</h2>
	<p>{% if description %}{{ description }}{% else %}<i>No description provided</i>{% endif %}</p>
	<h2>Documentation</h2>
	<p style="white-space: pre-wrap;">{% if documentation %}{{ documentation }}{% else %}<i>No documentation provided</i>{% endif %}</p>
</div>
{% endblock %}
