{% extends 'layout.html' %}
{% import 'macros.html' as macros %}
{% set current = data.current %}

{% block title %}{{ title }} by {{ author }} - {% endblock %}

{% macro downloadbtn( slug, findVers, classes, msg, link, web, smalltext ) %}
	<p><a class="btn btn-lg btn-{{ classes }} btn-block text-wrap btn-download"{% if link %} href="{% if not web %}library:{% endif %}/extensions/{{ slug }}/versions/{{ findVers }}"{% endif %}>{% if link %}{{ macros.icon( 'download' ) }} {% endif %}{{ msg }}{{ smalltext|safe }}</a>
{% endmacro %}

{% block content %}
<div class="col-md-12">
	<h1>{{ title }} by {{ author }} <small>
		<a href="/extensions?search=author:%22{{ author }}%22" title="Search for other extensions by this author">{{ macros.icon( 'user', 'Search for other extensions by this author' ) }}</a>
		{% if user and user.can.editany -%}
			{%- if approved -%}
				<a class="text-success" href="/extensions/{{ slug }}/edit/?approved=0" title="Approved for the Public Library; click to reject">{{ macros.icon( 'check-circle', 'Approved for the Public Library; click to reject' ) }}</a>
			{%- else -%}
				<a class="text-muted" href="/extensions/{{ slug }}/edit/?approved=1" title="Not approved for the Public Library; click to approve">{{ macros.icon( 'check-circle', 'Not approved for the Public Library; click to approve' ) }}</a>
			{%- endif -%}
		{%- elif approved and not pl -%}
			{{ macros.icon( 'check-circle text-success', 'Approved for the Public Library', 'Approved for the Public Library' ) }}
		{%- endif -%}
	</small></h1>
</div>
{{ macros.alert( alert, 'col-md-12' ) }}
{% if user.can.editthis and not current.i7releases %}
	<div class="alert alert-warning col-md-12" role="alert">
		<p><strong>Warning:</strong> No Inform 7 releases selected! Users will not be able to download this version of the extension from within Inform 7.
		<p><a href="/extensions/{{ slug }}/versions/{{ current.version }}/edit" class="alert-link">Specify compatible releases for version {{ current.version }} now.</a>
	</div>
{% endif %}
<div class="col-md-4">
	<h2>Versions</h2>
	{% if pl -%}
		{%- set findVers = data.byRelease[pl] -%}
		{%- if findVers -%}
			{%- if not userext or not userext.shared -%}
				{{ downloadbtn( slug, findVers, 'primary', 'Install version ' + findVers, 1 ) }}
			{%- endif -%}
			{%- if userext -%}
				{%- if userext.shared -%}
					{%- if findVers == userext.shared -%}
						{{ downloadbtn( slug, findVers, 'success disabled', 'Version ' + findVers + ' up to date' ) }}
					{%- elif findVers > userext.shared -%}
						{{ downloadbtn( slug, findVers, 'primary', 'Update to version ' + findVers, 1 ) }}
					{%- else -%}
						{{ downloadbtn( slug, findVers, 'warning', 'Revert to version ' + findVers, 1 ) }}
					{%- endif -%}
				{%- endif -%}
				{%- if userext.project -%}
					{%- if findVers == userext.project -%}
						{{ downloadbtn( slug, findVers, 'success disabled', "This project's copy (version " + findVers + ') is up to date' ) }}
					{%- elif findVers > userext.project -%}
						{{ downloadbtn( slug, findVers, 'primary', "Update this project's copy to version " + findVers, 1 ) }}
					{%- else -%}
						{{ downloadbtn( slug, findVers, 'warning', "Revert this project's copy to version " + findVers, 1 ) }}
					{%- endif -%}
				{%- endif -%}
			{%- endif -%}
		{%- else -%}
			{{ downloadbtn( slug, findVers, 'danger disabled', 'No version available for Inform 7 ' + pl ) }}
		{%- endif -%}
	{%- else %}
		{%- if current.i7releases -%}
			{{ downloadbtn( slug, current.version, 'primary', 'Download version ' + current.version, 1, 1, '<small>For Inform 7 ' + current.i7releases + '</small>' ) }}
		{%- else %}
			{{ downloadbtn( slug, current.version, 'primary', 'Download version ' + current.version, 1, 1 ) }}
		{%- endif -%}
	{% endif %}
	<div class="list-group">
		<a class="list-group-item" href="/extensions/{{ slug }}/versions">{{ macros.icon( 'history fa-fw' ) }} View all versions</a>
	</div>
	{% if data.website or data.discussion or data.bugs %}
		<h2>Links</h2>
		<div class="list-group">
			{% if data.website %}<a class="list-group-item" href="{{ data.website }}">{{ macros.icon( 'globe fa-fw' ) }} Website</a>{% endif %}
			{% if data.discussion %}<a class="list-group-item" href="{{ data.discussion }}">{{ macros.icon( 'comments fa-fw' ) }} Discussion page</a>{% endif %}
			{% if data.bugs %}<a class="list-group-item" href="{{ data.bugs }}">{{ macros.icon( 'bug fa-fw' ) }} Bug reports</a>{% endif %}
		</div>
	{% endif %}
	{% if user and user.can.editthis %}
		<h2>Actions</h2>
		<div class="list-group">
			<a class="list-group-item" href="/extensions/new">{{ macros.icon( 'upload fa-fw' ) }} Upload a new version</a>
			<a class="list-group-item" href="/extensions/{{ slug }}/edit">{{ macros.icon( 'pencil fa-fw' ) }} Edit</a>
		</div>
	{% endif %}
</div>
<div class="col-md-8">
	<h2>Description</h2>
	<p>{% if description %}{{ description }}{% else %}<i>No description provided</i>{% endif %}</p>
	<h2>Documentation</h2>
	<p style="white-space: pre-wrap;">{% if documentation %}{{ documentation }}{% else %}<i>No documentation provided</i>{% endif %}</p>
</div>
{% endblock %}
