{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="col-md-12">
	<h1>The Inform 7 Extensions Library</h1>
</div>
<div class="col-md-4">
	<h2>Library statistics</h2>
	<ul class="nav nav-pills nav-stacked">
		<li><span class="stats">{{ macros.icon( 'file-text-o fa-fw' ) }} {{ extensions.count }} extensions</span></li>
		<li><a class="stats" href="/authors">{{ macros.icon( 'users fa-fw' ) }} {{ stats.authors }} authors</a></li>
	</ul>
	<h2>Actions</h2>
	<div class="list-group">
		<a class="list-group-item" href="/about">{{ macros.icon( 'info fa-fw' ) }} About the Library</a>
		{% if user %}
			{% if user.can.create %}
				<a class="list-group-item" href="/extensions/new">{{ macros.icon( 'upload fa-fw' ) }} Upload new extension</a>
			{% endif %}
			{% if user.can.admin %}
				<a class="list-group-item" href="/admin">{{ macros.icon( 'cog fa-fw' ) }} Admin</a>
			{% endif %}
			<a class="list-group-item" href="/logout">{{ macros.icon( 'sign-out fa-fw' ) }} Sign out</a>
		{% else %}
			<a class="list-group-item" href="/login">{{ macros.icon( 'sign-in fa-fw' ) }} Sign in with Google</a>
		{% endif %}
	</div>
</div>
<div class="col-md-8">
	<h2>Recently updated extensions</h2>
	{% for ext in extensions.rows %}
		{{ macros.extension( ext ) }}
	{% endfor %}
</div>
{% endblock %}
