<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}The Inform 7 Extensions Library</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/client.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/static/client.js"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Inform 7 Extensions Library</a>
			</div>
			<p class="navbar-text navbar-right">
			{% if user %}
				Welcome {{ user.email }} <a href="/logout" class="navbar-link">(Log out)</a>
			{% else %}
				<a href="/login" class="navbar-link">Log in with Google</a>
			{% endif %}
			</p>
		</div>
	</nav>
	<div class="container">
	{% block content %}{% endblock %}
	</div>
</body>
</html>
