{% macro icon( name, sronly ) -%}
	<span class="fa fa-{{ name }}" aria-hidden="true"></span>
	{%- if sronly -%}
		<span class="sr-only">{{ sronly }}</span>
	{%- endif -%}
{%- endmacro %}

{% macro alert( alertobj, classes ) %}
	{% if alertobj %}
		<div class="alert alert-{{ alertobj.type|lower }}{% if classes %} {{ classes }}{% endif %}" role="alert">
			<p><strong>{{ alertobj.type|title }}:</strong> {{ alertobj.msg }}
		</div>
	{% endif %}
{% endmacro %}

{% macro extension( ext ) %}
	{%- set i7r = ext.current.i7releases -%}
	<div class="media">
		<div class="media-left media-ext" aria-hidden="true">
			{{ macros.icon( 'file-o' ) }}
			{% if i7r %}<span class="i7r">{{ i7r.substr( 0, 2 ) + '<br>' + i7r.substr( 2, 2 ) }}</span>{% endif %}
		</div>
		<div class="media-body">
			<h3 class="media-heading"><a href="/extensions/{{ ext.slug }}">{{ ext.title }}</a> by {{ ext.author }}</h3>
			<p>Version {{ ext.current.version }}{% if i7r %} for Inform 7 {{ i7r }}{% endif %}</p>
			{%- if ext.description %}
				<p>{{ ext.description }}</p>
			{% endif -%}
		</div>
	</div>
{% endmacro %}
