{% macro icon( name, sronly, title ) -%}
	<span class="fa fa-{{ name }}" aria-hidden="true"{% if title %} title="{{ title }}"{% endif %}></span>
	{%- if sronly %}<span class="sr-only">{{ sronly }}</span>{% endif -%}
{%- endmacro %}

{% macro alert( alertobj, classes ) %}
	{% if alertobj %}
		<div class="alert alert-{{ alertobj.type|lower }}{% if classes %} {{ classes }}{% endif %}" role="alert">
			<p><strong>{{ alertobj.type|title }}:</strong> {{ alertobj.msg }}
		</div>
	{% endif %}
{% endmacro %}

{% macro extension( ext ) %}
	{%- set current = ext.data.current -%}
	{%- set i7r = current.i7releases -%}
	<div class="media">
		<div class="media-left media-ext" aria-hidden="true">
			{{ icon( 'file-o' ) }}
			{% if i7r %}<span class="i7r">{{ i7r.substr( 0, 2 ) }}<br>{{ i7r.substr( 2, 2 ) }}</span>{% endif %}
		</div>
		<div class="media-body">
			<h3 class="media-heading"><a href="/extensions/{{ ext.slug }}">{{ ext.title }}</a> by {{ ext.author }}</h3>
			<p>Version {{ current.version }}{% if i7r %} for Inform 7 {{ i7r }}{% endif %}</p>
			{%- if ext.description %}
				<p>{{ ext.description }}</p>
			{% endif -%}
		</div>
	</div>
{% endmacro %}

{% macro searchbox( query ) %}
	<p>
		<form role="search" action="/extensions/" method="get">
			<div class="input-group form-group-lg">
				<input type="text" class="form-control" id="search" name="search" placeholder="Search" value="{{ query }}">
				<span class="input-group-btn">
					<button class="btn btn-default btn-lg">{{ icon( 'search', 'Search' ) }}</button>
				</span>
			</div>
		</form>
	</p>
{% endmacro %}
