{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}{{ title }} by {{ author }} - {% endblock %}

{% block content %}
<h1>{{ title }} by {{ author }}</h1>
{{ macros.alert( alert ) }}
{# Try breadcrumps instead - would be useful for search results #}
<p><a href="/extensions/{{ slug }}">{{ macros.glyphicon( 'arrow-left' ) }} Back to this extension</a>
<table class="table">
	<thead>
		<tr>
			<th>Version</th>
			<th>Download</th>
			<th>Compatible Inform 7 releases</th>
			<th>Uploaded on</th>
			{% if user && user.can.editthis %}
				<th>Uploaded by</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for version in versions %}
			<tr{% if version.version == currentVersion %} class="info"{% endif %}>
				<td>{{ version.version }}</td>
				<td><a class="btn btn-default" href="/extensions/{{ slug }}/versions/{{ version.version }}" role="button">{{ macros.glyphicon( 'save' ) }} Download</a></td>
				<td>{% if user && user.can.editthis %}<a href="/extensions/{{ slug }}/versions/{{ version.version }}/edit" title="Edit releases" aria-label="Edit releases">{{ macros.glyphicon( 'pencil' ) }}</a> {% endif %}{{ version.i7releases|replace(' ', ', ', 'g') }}</td>
				<td>{{ version.createdAt|date('F j, Y') }}</td>
				{% if user && user.can.editthis %}
					<td><a href="mailto:{{ version.uploader }}">{{ version.uploader }}</a></td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
